body {
  background-color: rgb(122, 11, 11);
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: italic;
  margin-inline: 5px;
  margin-top: 2px;
  color: #090336;
  -webkit-text-stroke-color: rgb(180, 180, 180);
  -webkit-text-stroke-width: 2px;
  letter-spacing: 10px;
}

.slide {
  margin-left: 30px;
  margin-right: 20px;
}

#content {
  width: 300px;
  height: 200px;
  margin: 100px auto;
  position: relative;
  margin-top: 200px;


}

.pho {
  width: 300px;
  height: 200px;
  display: none;
  position: absolute;

}

img {
  height: 250px;
  width: 350px;
}

.pho.curry {
  display: block;
}

.button {

  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 250px;
  margin-left: auto;

}


@media (max-width: 480px) {
  img {
    width: 140px;
    height: 100px;
  }


}

@media (max-width: 1024px) {
  img {
    width: 140px;
    height: 100px;
  }

}